.#{$prefix}form {
  width: 100%;
  & .label {
    font-weight: bold;
  }

  & .input {
    width: 100%;
    border: none;
    border-bottom: 1px #ccc solid;
  }

  & .textarea {
    width: 100%;
    border: 1px #ccc solid;
  }

  & .button {
    border: 0;
    padding: 0;
    height: 40px;
    width: 100px;
    // margin: 0 auto;
    display: block;
    background-color: lightgrey;
    font-size: 20px;
  }
}


@media screen and (max-width: 900px) {
  .#{$prefix}form {
    margin-bottom: 50px;
  
    & .button {
      margin: 0 auto;
    }
  }
  
}