.#{$prefix}flex {
  display: flex;
  &--wrap {
    flex-flow: wrap;
  }
  &--reverse {
    flex-direction: row-reverse; 
  }
  &--column {
    flex-direction: column;
  }
  &--column--reverse {
    flex-direction: column-reverse;
  }
  &--horizontal-left {
    justify-content: flex-start;
  }
  &--horizontal-center {
    justify-content: center;
  }
  &--horizontal-right {
    justify-content: flex-end;
  }
  &--vertical-top {
    align-items: flex-start;
  }
  &--vertical-center {
    align-items: center;
    align-content: center;
    align-self: center;
  }
  &--vertical-bottom {
    align-items: flex-end;
  }
  & .flex-align-self-center {
    align-self: center
  }
  & .flex-basis-10px {
    flex-basis: 10px !important;
  }
  & .flex-basis-20px {
    flex-basis: 20px !important;
  }
  & .flex-basis-30px {
    flex-basis: 30px !important;
  }
  & .flex-basis-40px {
    flex-basis: 40px !important;
  }
  & .flex-basis-50px {
    flex-basis: 50px !important;
  }
  & .flex-basis-w100 {
    flex-basis: 100%;
  }
  & .flex-1 {
    flex: 1;
  }
  & .flex-2 {
    flex: 2;
  }
  & .flex-3 {
    flex: 3;
  }
  & .flex-4 {
    flex: 4;
  }
  & .flex-5 {
    flex: 5;
  }
  & .flex-6 {
    flex: 6;
  }
  & .flex-7 {
    flex: 7;
  }
  & .flex-8 {
    flex: 8;
  }
  & .flex-9 {
    flex: 9;
  }
  & .flex-10 {
    flex: 10;
  }

}