@import 'variable';
@import 'header';
@import 'nav';
@import 'footer';

.#{$prefix}container {
  width: 80%;
  margin: 0 auto;
}

.#{$prefix}divider {

}

.#{$prefix}clearFix {
  clear: both;
}

.#{$prefix}hide {
  display: none !important;
}
